<?xml version="1.0" ?>
<robot name="hawkbot" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include filename="$(find hawkbot)/model/common_properties.xacro"/>
    <xacro:include filename="$(find hawkbot)/model/hawkbot.gazebo.xacro"/>

    <link name="base_footprint">
        <visual>
            <origin xyz="0 0 0.0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://hawkbot/model/HB-01S.stl" scale="1 1 1"/>
            </geometry>
            <material name="light_black"/>
        </visual>
    </link>

</robot>
